@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap');

/* GERAIS */
.container {
    max-width: 80%;
    margin: 0 auto;
}

.altura {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* HEADER */
.header h1{
    font-family: Inconsolata;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

/* MAIN */
.texto{
    max-width: 50%;
    margin-left: 130px;
    display: inline-block;
}

.texto h1{
    font-family: Space Mono;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    margin-bottom: 20px;
}

.texto p{
    font-family: Space Mono;
    color: #4F4F4F;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    max-width: 60%;
}

.ilustracao{
    width: 500px;
    height: 500px;
    display: inline-block;
    float: left;
}

.ilustracao img{
    max-width: 100%;
    display: block;
}

.btn{
    margin-top: 20px;
}

.btn button{
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    width: 216px;
    height: 68px;
    background: #333333;
}

/* FOOTER */
.footer{
    text-align: center;
    padding: 30px 0;
}

.footer span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}